<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD073Os2cJFZv1ESDBkTvZVs7IkLOQRRF8</string>
	<key>GCM_SENDER_ID</key>
	<string>189902921041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solarProject</string>
	<key>PROJECT_ID</key>
	<string>solar-project-6a8a9</string>
	<key>STORAGE_BUCKET</key>
	<string>solar-project-6a8a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189902921041:ios:96385e548138b5aaf7c770</string>
</dict>
</plist>